<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Ninjas</title>
    </head>
    <body>
        <header>
            <nav>

            </nav>
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Belt</th>
                        <th>Level</th>
                        <th>Working On</th>
                        <th>Last Update</th>
                        <th>Last Handled by</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="ninja : ${ninjas}">
                    <form method="post">
                        <td>
                            <input type="text" id="firstName" name="firstName" th:value="${ninja.firstName}">
                        </td>
                        <td>
                            <input type="text" id="lastName" name="lastName" th:value="${ninja.lastName}">
                        </td>
                        <td>
                            <select id="beltColor" name="beltColor">
                                <option th:each="belt : ${belts}"
                                        th:value="${belt.id}"
                                        th:text="${belt.beltColor}"
                                        th:selected="(${belt.id} == ${ninja.beltColor.id})">
                                </option>
                            </select>
                        </td>
                        <td>
                            <select id="levelNumber" name="levelNumber">
                                <option th:each="level : ${levels}"
                                        th:value="${level.id}"
                                        th:text="${level.levelNumber}"
                                        th:selected="(${level.id} == ${ninja.levelNumber.id})">
                                </option>
                            </select>
                        </td>
                        <td>
                            <select id="taskName" name="taskName">
                                <option th:each="task : ${tasks}"
                                        th:value="${task.id}"
                                        th:text="${task.taskName}"
                                        th:selected="(${task.id} == ${ninja.taskName.id})">
                                </option>
                            </select>
                        </td>
                        <td th:text="${ninja.updatedOn}"></td>
                        <td>
                            <select id="sensei" name="sensei">
                                <option th:each="sensei : ${senseis}"
                                        th:value="${sensei.id}"
                                        th:text="${sensei.firstName + ' ' + sensei.lastName}"
                                        th:selected="(${sensei.id} == ${ninja.sensei.id})">
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="Submit">
                        </td>

                    </form>
                </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>